---
import MealOfTheDay from './MealOfTheDay.astro';

const days = [
	'Sunday',
	'Monday',
	'Tuesday',
	'Wednesday',
	'Thursday',
	'Friday',
	'Saturday',
] as const;
---

<script>
	import 'bootstrap/js/dist/tab';
	const todayIdx = new Date().getDay();
	const navLinks = document.querySelectorAll('.nav-link');
	navLinks.forEach((btn, idx) => {
		if (idx === todayIdx) {
			btn.classList.add('active');
			btn.setAttribute('aria-selected', 'true');
		} else {
			btn.classList.remove('active');
			btn.setAttribute('aria-selected', 'false');
		}
	});
</script>
<ol
	class='nav nav-tabs'
	id='meal-plan-tabs'
	role='tablist'
>
	{
		days.map((day) => (
			<li
				class='nav-item'
				role='presentation'
			>
				<button
					class='nav-link'
					id={`tab-${day}`}
					data-bs-toggle='tab'
					data-bs-target={`#tab-pane-${day}`}
					type='button'
					role='tab'
					aria-controls={`tab-pane-${day}`}
					aria-selected='false'
				>
					{day}
				</button>
			</li>
		))
	}
</ol>
<div
	class='tab-content'
	id='meal-plan-tab-content'
>
	{days.map((day) => <MealOfTheDay day={day} />)}
</div>
